USE [master]
GO
/****** Object:  Database [ProductTask]    Script Date: 7/27/2019 1:04:58 AM ******/
CREATE DATABASE [ProductTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProductTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProductTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductTask]
GO
USE [ProductTask]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/27/2019 1:04:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 7/27/2019 1:04:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](50) NOT NULL,
	[photo] [varchar](max) NOT NULL,
	[price] [decimal](8, 2) NOT NULL,
	[last_updated] [datetime] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190720001231_CreateDataBase', N'2.1.11-servicing-32099')
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [product_name], [photo], [price], [last_updated]) VALUES (7, N'test1', N'/user-images/65231498_.jpg', CAST(100.00 AS Decimal(8, 2)), CAST(N'2019-07-26T04:26:05.230' AS DateTime))
INSERT [dbo].[products] ([product_id], [product_name], [photo], [price], [last_updated]) VALUES (8, N'test2', N'/user-images/89924198_.jpg', CAST(200.00 AS Decimal(8, 2)), CAST(N'2019-07-26T04:26:29.923' AS DateTime))
INSERT [dbo].[products] ([product_id], [product_name], [photo], [price], [last_updated]) VALUES (10, N'atese', N'/user-images/40524114_.jpg', CAST(500.00 AS Decimal(8, 2)), CAST(N'2019-07-26T13:40:59.077' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
USE [master]
GO
